*{padding: 0; border: 0; box-sizing: border-box;}
li{ list-style: none;}
body{
  color: #222;
  font-family: '나눔고딕', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}
a{
  text-decoration: none;
  color: inherit;
}
.inner{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
table{
  border-collapse: collapse;
  width: 100%;
}
table td{
  padding: 10px;
}
input[type='text'] {
  width: 100%;
  line-height: 32px;
  border: none;
  outline: none;
  background-color: #eee;
  margin: 4px 0;
}
button{
  background-color: #333;
  color: #fff;
  padding: 6px 30px;
  margin-right: 8px;
}
.defaulttable td{
  border-bottom: 1px solid #eee;
}
.small {
  max-width: 700px;
}
